<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-label>Decimal</ion-label>
    <ion-item text-right>{{screenOutput}}</ion-item>
    <ion-label>Hexidecimal</ion-label>
    <ion-item text-right>{{screenOutputHex}}</ion-item>
    <ion-label>Dozenal</ion-label>
    <ion-item text-right>{{screenOutputDoz}}</ion-item>
  </ion-list>

  <ion-grid no-padding>
    <ion-row>
      <ion-col *ngFor="let numberItem of numberArray1">
        <number-button [numNumber]="numberItem" (selected)="onNumberSelected($event)"></number-button>
      </ion-col>
    </ion-row> 
    <ion-row>
      <ion-col *ngFor="let numberItem of numberArray2">
        <number-button [numNumber]="numberItem" (selected)="onNumberSelected($event)"></number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let numberItem of numberArray3">
        <number-button [numNumber]="numberItem" (selected)="onNumberSelected($event)"></number-button>
      </ion-col>
    </ion-row>
    <ion-row>
     <!--  <ion-col>
        <button ion-button block outline (click)="setCurrentOpToAdd()">+</button>
      </ion-col>
      <ion-col>
        <button ion-button block outline (click)="setCurrentOpToSub()">-</button>
      </ion-col>
      <ion-col>
        <button ion-button block outline (click)="displayTotal()">=</button>
      </ion-col> -->
      <ion-col>
        <number-button [numNumber]="0" (selected)="onNumberSelected($event)"></number-button>
      </ion-col>
      <ion-col>
        <button ion-button block outline (click)="clearText()">AC</button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
