<ion-header>
  <ion-navbar>
    <ion-title>{{baseType}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding> 
  <screen-output #screenoutput></screen-output>

  <ion-grid no-padding>
    <ion-row>
      <ion-col *ngFor="let numberItem of topRow">
        <number-button [displayNum]="numberItem" (selected)="screenoutput.refreshDisplay()"></number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let numberItem of middleRow">
        <number-button [displayNum]="numberItem" (selected)="screenoutput.refreshDisplay()"></number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col *ngFor="let numberItem of bottomRow">
        <number-button [displayNum]="numberItem" (selected)="screenoutput.refreshDisplay()"></number-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <number-button [displayNum]="zeroButton" (selected)="screenoutput.refreshDisplay()"></number-button>
      </ion-col>
      <ion-col>
        <button ion-button block color="danger" (click)="screenoutput.resetDisplayToZero()">AC</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
